[Unit]
Description=Starseeds node.js utility server for swapwidget etc. 

[Service]
# Start Service and Examples
ExecStart=/usr/bin/node /home/starseeds/starseedsSVR1/express.js
# Options Stop and Restart
# ExecStop=
# ExecReload=
# WorkingDirectory is required on some systems, including Fedora.
WorkingDirectory=/home/starseeds/starseedsSVR1
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Restart=always
Restart=on-failure
# Output to syslog
StandardOutput=journal
StandardError=syslog
SyslogIdentifier=starseeds-nodejs
# #### please, not root users
# RHEL/Fedora uses 'nobody'
# User=nouser
User=nginx
# Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
# Group=nogroup
Group=nginx
# variables
Environment=PATH=/usr/bin:/usr/local/bin



# API key, fee rate & rebate address for widget A

# Replace ef9apopzq9qrgntjubojbxe7hy4z5eez with the real api key. ef9apopzq9qrgntjubojbxe7hy4z5eez is just a developers test key published on Dodo's website.
Environment=WIDGET_API_KEY_A=ef9apopzq9qrgntjubojbxe7hy4z5eez
# See https://docs.dodoex.io/english/developer-portal/swap-widget/profit-sharing-instructions for instructions on the use of WIDGET_FEE_RATE and WIDGET_REBATE_ADDRESS.
Environment=WIDGET_FEE_RATE_A=2900000000000000
Environment=WIDGET_REBATE_ADDRESS_A=0xBDCBD23316AAA2aDecA774e107868adCE38cC69E



# API key, fee rate & rebate address for widget B

# Replace ef9apopzq9qrgntjubojbxe7hy4z5eez with the real api key. ef9apopzq9qrgntjubojbxe7hy4z5eez is just a developers test key published on Dodo's website.
Environment=WIDGET_API_KEY_B=ef9apopzq9qrgntjubojbxe7hy4z5eez
# See https://docs.dodoex.io/english/developer-portal/swap-widget/profit-sharing-instructions for instructions on the use of WIDGET_FEE_RATE and WIDGET_REBATE_ADDRESS.
Environment=WIDGET_FEE_RATE_A=2900000000000000
Environment=WIDGET_REBATE_ADDRESS_B=0xBDCBD23316AAA2aDecA774e107868adCE38cC69E



# API key, fee rate & rebate address for widget C

# Replace ef9apopzq9qrgntjubojbxe7hy4z5eez with the real api key. ef9apopzq9qrgntjubojbxe7hy4z5eez is just a developers test key published on Dodo's website.
Environment=WIDGET_API_KEY_C=ef9apopzq9qrgntjubojbxe7hy4z5eez
# See https://docs.dodoex.io/english/developer-portal/swap-widget/profit-sharing-instructions for instructions on the use of WIDGET_FEE_RATE and WIDGET_REBATE_ADDRESS.
Environment=WIDGET_FEE_RATE_C=1400000000000000
Environment=WIDGET_REBATE_ADDRESS_C=0xf60de76791c2f09995df52aa1c6e2e7dcf1e75d7



[Install]
WantedBy=multi-user.target
